 .app-container {
  padding: 1rem;
}

.app-container td:nth-child(even){background-color: #f2f2f2;}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
  justify-content: center;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  width : 21%;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form input:nth-child(1n) {
  margin-right: 1.5%;
}

body {
  font-size: 28px;
  justify-content: center;
} 

.buttons {
  margin-bottom: 2%;
  text-align: center;
}

.load-data{
  margin-right: 2%;
  background-color: white;
  border-radius : 10%;
  padding : 1%;
  width: 20%;
}

.erase-data{
  background-color: white;
  border-radius : 10%;
  padding : 1%;
  width: 20%;
}

button:hover {
  background-color: rgb(201, 199, 199);
}

.add{
  /* display: flex;
  justify-content: center;*/
  text-align: center; 
  padding-bottom: 1.5%;
  padding-top: 0.1%;
  gap: 5px;
  font-size: 12px;
  margin-bottom: 1%;
  max-height:min-content;
  background-color: #f2f2f2;
}
.add-button{
  background-color: #f2f2f2;
  border-radius: 10%;
}

input{
  font-size: 10px;
  justify-content: center;
  padding: 0.3%;
}
